@font-face {
  font-display: block;
  font-family: "Poppins";
  src: local("Poppins"), url("/assets/fonts/Poppins-Regular.ttf") format("ttf");
  font-variant: normal;
  font-stretch: normal;
  font-weight: normal;
  font-style: normal;
}
