@mixin font {
  font-family: "Poppins", sans-serif;
}

@mixin baseProps {
  user-select: none;
  box-sizing: border-box;
  cursor: pointer;
  word-wrap: break-word;
}

@mixin container {
  min-width: 300px;
  max-width: 1024px;
  margin: 0 auto;
}

@mixin a {
  color: $white;
  text-decoration: none;
}

@mixin greenGradient {
  background: linear-gradient(180deg, $green 0%, rgba(37, 229, 126, 0.19) 100%);
}

@mixin grayGradient ($deg){
  background: linear-gradient($deg, rgba(5, 4, 30, 0.20) 0%, rgba(0, 0, 0, 0.18) 60%,rgba(0, 0, 0, 0.10) 80%, $bg 100%);
}

html {
  font-size: 0.7vw;
}

body{
  background-color: $bg;
  @include font;
  @include baseProps;
}

form, form input, form button {
  @include baseProps;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
